<!DOCTYPE html>
<html lang="en">
    {% include "./add-ons/head.html" %}
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/playlist.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <title>Document</title>
</head>
<body>
    {% include "./add-ons/navbar.html" %}
    {% block content %}
    {% endblock %}
    <div class="container">
        <div class="header-playlist">
            <img src="{{ url_for('static', filename='Img/Playlist_pic.png') }}" class="playlist_pic">
            <div class="playlist-header-text-area">
                <h1 id="playlist_name" class="playlist_name">{{ playlist_name }}</h1>
                <form action="/playlist/{{ playlist.id }}" method="post" id="change-name" class="change-name">
                    <input name="playlist-name" class="playlist-name-input" placeholder="Enter playlist name...">
                    <button name="playlist-name-submit" class="playlist-name-btn">Save</button>
                </form>
                <button id="threeDots" class="more-btn">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <form action="/playlist/{{ playlist.id }}" method="post" id="dropdown-playlist-actions">
                    <button name="delete-playlist-btn" id="delete-playlist-btn">Delete</button>
                </form>
            </div>
        </div>
        {% for song in playlist_songs %}
            <input type="hidden" name="songSrc" class="songSrc" value="{{ song.song.audio | b64encode }}">
            <input type="hidden" name="imgSrc" class="imgSrc" value="{{ song.song.img | b64encode }}">
            <input type="hidden" name="songName" class="songNames" value="{{ song.song.song_name }}">
            <input type="hidden" name="artistName" class="artistNames" value="{{ song.song.artist_name }}">
            <div class="one-element">
                <button class="searchPlay">
                    <i class="fa fa-play"></i>
                </button>
                <img class="searchAlbum" src="data:image/jpeg;charset=utf-8;base64,{{ song.song.img | b64encode }}"/>
                <div class="texts">
                    <p>{{ song.song.song_name }}</p>
                    <p>{{ song.song.artist_name }}</p>
                    <p class="songLength"></p>
                </div>
        </div> 
        {% endfor %}
        <form class="searchBox" action="/playlist/{{ id }}" method="post">
            <button class="searchBtn" name="searchBtn" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input class="searchInput" name="search" placeholder="Search for song or artist..."/>
        </form>
        {% for song in songs %}
        <input type="hidden" name="songSrc" class="songSrc" value="{{ song.audio | b64encode }}">
        <input type="hidden" name="imgSrc" class="imgSrc" value="{{ song.img | b64encode }}">
        <input type="hidden" name="songName" class="songNames" value="{{ song.song_name }}">
        <input type="hidden" name="artistName" class="artistNames" value="{{ song.artist_name }}">
        <div class="one-element">
            <button class="searchPlay">
                <i class="fa fa-play"></i>
            </button>
            <img class="searchAlbum" src="data:image/jpeg;charset=utf-8;base64,{{ song.img | b64encode }}"/>
            <div class="texts">
                <p>{{ song.song_name }}</p>
                <p>{{ song.artist_name }}</p>
                <p class="songLength"></p>
                <form action="/playlist/{{ id }}" method="post">
                    <button class="AddBtn" name="add" type="submit">Add To Playlist</button>
                    <input type="hidden" name="songId" value="{{ song.id }}">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include "./add-ons/player.html" %}
    {% block elements %}
    {% endblock %}
    <script src="{{ url_for('static', filename='Js/main_audio.js') }}"></script>
    <script src="{{ url_for('static', filename='Js/playlistFunctionality.js') }}"></script>
</body>
</html>