body {
    color: white;
    background-color: #1a1a1a;
    width: 100%;
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #292929;
    width: 100%;
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    padding: 10px;
    padding-bottom: 15px;
    border-top: 1px solid grey;
}

.audio-container {
    display: grid;
    overflow-y: scroll;
    place-content: center end;
    margin: 0 auto;
    max-width: 3000px;
    max-height: 820px;
    grid-template-columns: repeat(5, 200px);
    gap: 20px;
    padding-top: 150px;
}

.btn-play {
    margin-left: 65px;
    margin-top: 85px;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 30px;
    position: absolute;
    display: flex;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.btn-play:hover {
    opacity: 1.0;
}

.element {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    transition: 0.5s;
}

.element:hover {
    opacity: 0.6;
}

.names {
    display: flex;
    justify-content: start;
    align-items: center;
}

.volume {
    display: flex;
    align-items: center;
}

.buttons {
    text-align: center;
    margin-bottom: 10px;
}

.inputBtn {
    border: none;
    background-color: transparent;
    font-size: 22px;
}

.back {
    color: lightgray;
    width: 30px;
}

.forward {
    color: lightgray;
    width: 30px;
}

#play {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 32px;
}

#seek-slider {
    width: 400px;
    background: #727272;
    box-shadow: rgba(0, 0, 0, 1);
}

.mute {
    border: none;
    background-color: transparent;
    margin-right: 10px;
    color: lightgray;
    font-size: 20px;
}