body {
    color: white;
    background-color: #1a1a1a;
    width: 100%;
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #292929;
    width: 100%;
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    padding: 18px;
    border-top: 1px solid grey;
}

.audio-container {
    display: grid;
    place-content: center;
    margin: 0 auto;
    max-width: 800px;
    grid-template-columns: repeat(5, 200px);
    gap: 20px;
    padding-top: 50px;
}

.element {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
}

.names {
    display: flex;
    justify-content: start;
    align-items: center;
}

.volume {
    display: flex;
    align-items: center;
}

.buttons {
    text-align: center;
    margin-bottom: 10px;
}

.inputBtn {
    border: none;
    background-color: transparent;
    font-size: 22px;
}

.back {
    color: lightgray;
    width: 30px;
}

.forward {
    color: lightgray;
    width: 30px;
}

#play {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 28px;
}

#seek-slider {
    width: 400px;
    background: #727272;
    box-shadow: rgba(0, 0, 0, 1);
}

.mute {
    border: none;
    background-color: transparent;
    margin-right: 10px;
    color: lightgray;
    font-size: 20px;
}