.audio-container {
    display: grid;
    position: absolute;
    right: 0;
    padding-right: 40px;
    overflow-y: scroll;
    place-content: center end;
    margin: 0 auto;
    width: 90%;
    max-height: 90%;
    grid-template-columns: repeat(6, 230px);
    gap: 20px;
    padding-top: 150px;
    padding-bottom: 15px;
}

.btn-play {
    margin-left: 65px;
    margin-top: 85px;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 30px;
    position: absolute;
    display: flex;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.btn-play:hover {
    opacity: 1.0;
}

.element {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    transition: 0.5s;
}

.element:hover {
    opacity: 0.6;
}