body {
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 13%;
    max-width: 13%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: black;
}

li a {
    padding: 14px 26px;
    display: block;
    text-decoration: none;
    color: white;
}

li a:hover {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 30px;
}