body {
    color: white;
    background-color: #1a1a1a;
    width: 100%;
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #292929;
    width: 100%;
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    padding-bottom: 15px;
    border-top: 1px solid grey;
}

.buttons {
    text-align: center;
    /* margin-bottom: 10px; */
}

.names {
    display: flex;
    justify-content: start;
    align-items: center;
}

.volume {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

.track-name {
    padding-left: 40px;
    margin-top: 20px;
}

.inputBtn {
    border: none;
    background-color: transparent;
    font-size: 22px;
}

#top-text {
    color: black;
}

.back {
    color: lightgray;
    width: 30px;
}

.forward {
    color: lightgray;
    width: 30px;
}

#play {
    margin-left: 10px;
    margin-right: 10px;
    /* margin-top: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 32px;
}

#seek-slider {
    width: 400px;
    background: #727272;
    box-shadow: rgba(0, 0, 0, 1);
    height: 5px;
    position: relative;
    bottom: 3.5px;
}

.mute {
    border: none;
    background-color: transparent;
    margin-right: 10px;
    color: lightgray;
    font-size: 20px;
}