.searchBox {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.searchInput {
    background-color: #292929;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 0px 15px 15px 0px;
}

.searchBtn {
    border: none;
    border-radius: 15px 0px 0px 15px;
    background-color: #292929;
    height: 40px;
    width: 40px;
    color: rgb(205, 205, 205);
}

.searchInput::placeholder {
    color: rgb(205, 205, 205);
}

.one-element {
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* margin-top: 20px; */
    padding-top: 20px;
    padding-left: 15px;
    border-bottom: 1px solid white;
}

.one-element:hover {
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
}

.searchPlay {
    border: none;
    background-color: transparent;
    color: white;
    position: relative;
    bottom: 10px;
}

.searchAlbum {
    max-width: 70px;
    max-height: 70px;
    padding-bottom: 15px;
}

.texts {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 12px;
}