<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="login-navbar">
        <img src="{{ url_for('static', filename='Spotify_pic.png') }}">
    </div>
    <div class="login-container">
        <form class="login" action="/" method="post">
            {{ form.hidden_tag() }}
            <p id="top-text"><strong>Email or Username</strong></p>
            {{ form.email(size=32, class="login-input", placeholder="Email") }}
            <p id="input-text" class="input-text"><strong>Password</strong></p>
            {{ form.password(size=32, class="login-input", placeholder="Password") }}
            <br>
            {{ form.submit(class="login-inputBtn") }}
        </form>
    </div>
    <div class="register">
        <p id="no-account">No account yet?</p>
        <a id="signup-link" class="signup-link" href="{{ url_for('signup') }}">Signup</a>
    </div>
</body>
</html>