<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    {% include "navbar.html" %}
    {% block content %}
    {% endblock %}
    <div class="container">
        <div class="audio-container">
            {% for audio in all_audio %}
                <input type="hidden" name="songSrc" class="songSrc" value="{{ audio.audio | b64encode }}">
                <input type="hidden" name="imgSrc" class="imgSrc" value="{{ audio.img | b64encode }}">
                <input type="hidden" name="songName" class="songNames" value="{{ audio.song_name }}">
                <input type="hidden" name="artistName" class="artistNames" value="{{ audio.artist_name }}">
                <div class="element">
                    <img class="albumCover" src="data:image/jpeg;charset=utf-8;base64,{{ audio.img | b64encode }}">
                    <button disabled class="btn-play fa fa-play-circle"></button>
                    <p>{{ audio.song_name }}</p>
                    <p>{{ audio.artist_name }}</p>
                </div>  
            {% endfor %}
        </div>
    {% include "player.html" %}
    {% block elements %}
    {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='main_audio.js') }}"></script>
</body>
</html>