<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="#">Spotify</a></li>
        <br>
        <li><a href="#">Home</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Libary</a></li>
        <li><a href="#">Play List</a></li>
        <li><a href="#">Favourites</a></li>
        <li><a href="#">Log out</a></li>
    </ul>
    </div>
    <div class="container">
        <div class="audio-container">
            {% for audio in all_audio %}
                <!-- <p>{{ audio.name }}</p> -->
                <!-- <meta id="song-src" data-name="data:audio/wav;charset=utf-8;base64,{{ audio.audio | b64encode }}"> -->
                <input type="hidden" name="songSrc" class="songSrc" value="{{ audio.audio | b64encode }}">
                <h1 class="test"></h1>
            {% endfor %}
        </div>
        <div class="player">

            <div class="names">
                <p class="track-name" id="track-name">Song Name</p>
            </div>
            
            <div class="player-inputs">
                <div class="buttons">
                    <button class="back inputBtn" id="prev">
                        <i class="fa-solid fa-backward-step"></i>
                    </button>
                    <button id="play" class="play inputBtn">
                        <i class="fa-solid fa-play"></i>
                    </button>
                    <button id="forward" class="forward inputBtn">
                        <i class="fa-solid fa-forward-step"></i>
                    </button>
                </div>
                <div class="inputs">
                    <span id="current-time" class="time">0:00</span>
                    <input type="range" id="seek-slider" max="100" value="0">
                    <span id="duration" class="time">0:00</span>
                </div>
            </div>

            <div class="volume">
                <button class="mute" id="mute">
                    <i class="fa-solid fa-volume-mute"></i>
                </button>
                <input type="range" id="volume" value="100">
                <audio id="track" src=""></audio>
            </div>

        </div>
    </div>
    <script src="{{ url_for('static', filename='main_audio.js') }}"></script>
</body>
</html>