
{% block content %}
    <ul>
        <li><a class="title" href="{{ url_for('main') }}"><i class="fa-brands fa-spotify"></i> <strong>Soundify</strong></a></li>
        <li><a href="{{ url_for('main') }}"><i class="fa-solid fa-house"></i> Home</a></li>
        <li><a href="{{ url_for('search') }}"><i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
        <li><a href="#"><i class="fa-solid fa-book"></i> Libary</a></li>
        <li><form action="/main" method="post"><button class="playlistBtn" name="playlist"><i class="fa-regular fa-square-plus"></i> Create Playlist</button></form></li>
        <li><a href="#"><i class="fa-regular fa-heart"></i> Favourites</a></li>
        <li><a class="logout" href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Log out</a></li>
        <hr class="border">
        {% for playlist in playlists %}
            <li><a href="{{ url_for('playlist', id=playlist.id) }}">{{ playlist.playlist_name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
