<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <title>Document</title>
</head>
<body>
    {% include "navbar.html" %}
    {% block content %}
    {% endblock %}
    <div class="container">

        <form class="searchBox" action="/search" method="post">
            <button class="searchBtn" name="searchBtn" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input class="searchInput" name="search" placeholder="Search for song or artist..."/>
        </form>

        <div class="content">
            {% for song in songs %}
                <input type="hidden" name="songSrc" class="songSrc" value="{{ song.audio | b64encode }}">
                <input type="hidden" name="imgSrc" class="imgSrc" value="{{ song.img | b64encode }}">
                <div class="one-element">
                    <button class="searchPlay">
                        <i class="fa fa-play"></i>
                    </button>
                    <img class="searchAlbum" src="data:image/jpeg;charset=utf-8;base64,{{ song.img | b64encode }}"/>
                    <div class="texts">
                        <p>{{ song.song_name }}</p>
                        <p>{{ song.artist_name }}</p>
                        <p class="songLength"></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% include "player.html" %}
    {% block elements %}
    {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='main_audio.js') }}"></script>
</body>
</html>