<!DOCTYPE html>
<html lang="en">
    {% include "./add-ons/head.html" %}
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="login-navbar">
        <h1 class="Login-title">
            <i class="fa-brands fa-spotify"></i> <strong>Soundify</strong></a>
        </h1>
    </div>
    <div class="login-container">
        <form action="/signup" method="post">
            {{ form.hidden_tag() }}
            <p id="top-text"><strong>Email</strong></p>
            {{ form.email(size=32, class="login-input", placeholder="Email") }}
            <p id="input-text" class="input-text"><strong>Password</strong></p>
            {{ form.password(size=32, class="login-input", placeholder="Password") }}
            <p id="input-text" class="input-text"><strong>Repeat Password</strong></p>
            {{ form.password2(size=32, class="login-input", placeholder="Repeat Password") }}
            <br>
            {{ form.submit(class="login-inputBtn") }}
        </form>
    </div>
    <div class="register">
        <p id="no-account">Already have an account?</p>
        <a id="signup-link" class="signup-link" href="{{ url_for('login_bp.login') }}">Login</a>
    </div>
</body>
</html>